.HeaderLayout {
  background: white;
  min-height: 100vh;
  .HeaderLayout__Header {
    height: 64px;
    left: 0;
    line-height: 64px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100;
  }

  .HeaderLayout__Content {
    margin-top: 64px;
  }
}
