.Register {
  display: flex;
  flex-direction: row;
  padding: 50px;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  margin: auto;
}

.Register__ContentWrap {
  margin: 0 auto;
}

.Register_SideImage {
  @media only screen and (max-width: 1023px) {
    display: none;
  }
}

.ErrorBar {
  background-color: #ff8383;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  left: 0;
  margin: auto;
  max-width: 1200px;
  min-height: 50px;
  padding: 17px 70px 17px 23px;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 999999;
  bottom: 0;
}

.ErrorBar__Message {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.25px;
  text-align: center;
}

.ErrorBar_Icon {
  position: absolute;
  right: 15px;
  color: white;
  cursor: pointer;
}