@import 'assets/styles/scssVariables/colors.scss';

.Header {
  background-color: $lightGreen;
  box-shadow: rgba(0, 0, 0, 0.156863) 0 3px 10px, rgba(0, 0, 0, 0.227451) 0 3px 10px;
  height: 100%;
  width: 100%;
}
