body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #ffffff, #f5f5f1);
}

p,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
